<app-header backButton="/main/home" title="Escanear codigo QR"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!--TITULO-->
  <ion-title class="centrarTexto tamanoTitulo"><b>ACERCA DE NOSOTROS</b></ion-title>
  
  <br>

  <!--INICIO CARD-->
  <ion-card class="fondoCard">
    <!--ION CARD HEADER PARA CENTRAR TODO EL CONTENIDO DENTRO DEL CARD-->
    <ion-card-header>
      <!--PRIMER PARRAFO DE TEXTO-->
      <ion-text class="centrarTexto colorTexto">Nosotros somos <ion-text class="colorNombre">Tomas Aravena
        </ion-text> y <ion-text class="colorNombre">Matias Velásquez</ion-text>,
        estudiantes de cuarto semestre de la carrera Analista Programador Computacional del Instituto Duoc UC sede
        Maipú. Débido a la dificultad de registrar asistencia en clases donde afecta tanto al alumno como al docente, haremos
        un proyecto web para resolver esta problematica.
      </ion-text>
    </ion-card-header>
  </ion-card>
  <!--FINAL PRIMER CARD-->

  <br>

  <!--PRIMERA IMAGEN DE ALUMNOS CON MASCARILLAS-->
  <ion-img
    src="https://www.animalshealth.es/fileuploads/news/estudiantes-veterinaria-mascarilla-evaumesa-de-trabajo-115940480341.jpg"
    type="image" alt="Mascarillas en las universidades">
  </ion-img>

  <br>

  <!--INICIO SEGUNDO CARD-->
  <ion-card class="fondoCard">
    <!--ION CARD HEADER PARA CENTRAR TODO EL CONTENIDO DENTRO DEL CARD-->
    <ion-card-header>
      <!--SEGUNDO PARRAFO DE TEXTO-->
      <ion-text class="centrarTexto colorTexto">Nuestro proyecto movil llamado <ion-text class="colorNombre">RegistrAPP
        </ion-text>
        tendrá los siguientes objetivos: Reducir los tiempos destinados para registrar la asistencia, mejorar el proceso
        del
        registro de asistencia y por ultimo motivar a los alumnos a que asistan a clases de manera presencial.
      </ion-text>

    </ion-card-header>
  </ion-card>
  <!--FINAL SEGUNDO CARD-->

  <!--SEGUNDA IMAGEN DE CODIGOS QR-->
  <ion-img src="https://media.istockphoto.com/vectors/modern-simple-multicolor-qr-code-sign-in-vector-illustration-isolated-vector-id1084595376?s=612x612"
    type="image" alt="Codigos QR">
  </ion-img>

</ion-content>
<!--FINAL CONTENIDO DE BODY-->
