<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-title class="centrarTexto tamanoTitulo"><b>RegistrAPP</b></ion-title>

  <ion-card>
  <ion-card-header>
    <ion-icon class="colorNombre avatar-icon" name="school"></ion-icon>
    <ion-text class="centrarTexto colorTexto"> Bienvenido a <ion-text class="colorNombre">RegistrAPP
    </ion-text>
    , una aplicación donde podras registrar tu asistencia, para abrir el Menú desliza hacia la <ion-icon class="colorNombre" style="font-size: 25px;" name="arrow-forward-circle-outline"></ion-icon> 
  </ion-text>
  </ion-card-header>  
  </ion-card>


</ion-content>