<app-header backButton="/auth" title="Recuperar contraseña"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>

            <div style="text-align: center;">

                <app-logo></app-logo>

                <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        
                    <app-custom-item 
                    autocomplete="email" 
                    icon="mail-outline" 
                    [control]="form.controls.email" 
                    type="email"
                    label="Correo"></app-custom-item>

                    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                        <div *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio</div>
                        <div *ngIf="form.controls.email.errors?.['email']">Ingresar correo valido</div>
                    </div>
        

                    <ion-button expand="block" class="submit" type="submit" [disabled]="form.invalid">
                        Recuperar
                        <ion-icon slot="start" name="arrow-forward"></ion-icon>
                    </ion-button>

        
                </form>
        
            </div>

        </ion-card-header>
    </ion-card>

</ion-content>